@{
    ViewData["Title"] = "Info";
}

<style>
    .container {
        max-width: 800px;
    }
</style>
<body>

    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <div class="task">
            <h2>Задача для стажера Fullstack-разработчика</h2>
            <p>
                Синтезировать данные для базы данных:
            </p>
            <ul>
                <li>Таблица клиентов</li>
                <ul>
                    <li>Номер счета</li>
                    <li>Фамилия</li>
                    <li>Имя</li>
                    <li>Отчество</li>
                    <li>Дата рождения</li>
                    <li>ИНН</li>
                    <li>ФИО ответственного</li>
                    <li>Статус (по умолчанию «Не в работе»)</li>
                </ul>
                <li>Таблица пользователей</li>
                <ul>
                    <li>ФИО</li>
                    <li>Логин</li>
                    <li>Пароль</li>
                </ul>
            </ul>

            <p>Создать интерфейс для обращения к синтезированным данным:</p>
            <ul>
                <li>Форма для авторизации по паре логин/пароль</li>
                <li>Показать таблицу клиентов авторизованного пользователя по связи ФИО из таблицы пользователей – ФИО ответственного</li>
                <li>Пользователь должен иметь возможность изменить статус клиента на «В работе», «Отказ», «Сделка закрыта».</li>
            </ul>
        </div>

    </div>

</body>
</html>
